<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рукоделов</title>
</head>

<body>
    <div id="app">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <nav class="nav">
                        <div class="header__link city">
                            <div class="city__img img-abs"></div>
                            Санкт-Петербург
                        </div>
                        <a class="header__link" href="https://www.rukodelov.ru/delivery/">Доставка и оплата</a>
                        <a class="header__link" href="https://www.rukodelov.ru/info/rassrochka/">Кредит и рассрочка</a>
                    </nav>
                    <div class="header__link phone">
                        <div class="phone__img img-abs"></div>
                        8 800 500 78 91
                    </div>
                </div>
                <!-- header mobile version -->
                <div class="header__inner__mobile">
                    <div class="header__logo"></div>
                    <div class="header__icon">
                        <div class="phone__img img-abs"></div>
                        <div class="basket-img"></div>
                        <div class="count-of-product">4</div>
                    </div>
                </div>

            </div>
        </header>


        <header class="header-fixed-1">
            <div class="container">
                <div class="header-fixed__inner">
                    <div class="header__logo"></div>
                    <div class="catalog">
                        <div class="catalog__img"></div>
                        Каталог
                    </div>
                    <div class="search-block">
                        <input class="search-input" placeholder="Поиск по 100500 товаров" type="text">
                        <div class="search-btn"></div>
                        <div class="search-img"></div>
                    </div>
                    <div class="cell">
                        <div class="cell-area">
                            <div class="favourits-img"></div>
                        </div>
                        <div class="cell-title">Избранное</div>
                    </div>
                    <div class="cell">
                        <div class="cell-area">
                            <div class="auth-img"></div>
                        </div>
                        <div class="cell-title">Войти</div>
                    </div>
                    <div class="cell">
                        <div class="cell-area">
                            <div class="basket-img"></div>
                        </div>
                        <div class="cell-title">Корзина</div>
                        <div class="count-of-product">10</div>
                    </div>
                </div>
                <!-- header-fixed mobile version -->
                <div class="header-pre-fixed__inner__mobile">
                    <div class="search-block">
                        <input class="search-input" placeholder="Поиск" type="text">
                        <div class="search-btn"></div>
                        <div class="search-img"></div>
                    </div>
                    <div class="catalog">
                        <div class="catalog__img"></div>
                        Каталог
                    </div>
                </div>
                <div class="header-fixed__inner__mobile">
                    <div class="search-block">
                        <input class="search-input" placeholder="Поиск по каталогу" type="text">
                    </div>
                    <div class="fixed-catalog">
                        <div class="fixed-catalog__img"></div>
                    </div>
                </div>
            </div>
        </header>

        <div class="header-slider">
            <div class="container header-slider__inner">
                <div class="swiper slider-hint">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide fill">Акции</div>
                        <div class="swiper-slide fill">Новинки</div>
                        <div class="swiper-slide fill">Бренды</div>
                        <div class="swiper-slide empty">Наборы для вышивания</div>
                        <div class="swiper-slide empty">Алмазная вышивка</div>
                        <div class="swiper-slide empty">Рисование</div>
                        <div class="swiper-slide empty">Детское творчество</div>
                        <div class="swiper-slide empty">Эпоксидная смола</div>
                        <div class="swiper-slide empty">Скрапбукинг</div>
                        <div class="swiper-slide empty">Алмазная вышивка</div>
                        <div class="swiper-slide empty">Рисование</div>
                        <div class="swiper-slide empty">Детское творчество</div>
                        <div class="swiper-slide empty">Эпоксидная смола</div>
                        <div class="swiper-slide empty">Скрапбукинг</div>
                    </div>

                    <div class="hint swiper-button-prev"></div>
                    <div class="hint swiper-button-next"></div>

                </div>
            </div>

        </div>

        <div class="intro">
            <div class="container">
                <div class="intro__inner">
                    <div class="main-slider">
                        <div class="swiper main">
                            <div class="swiper-wrapper feature-for-main">
                                <div class="swiper-slide desc-imgs">
                                    <div class="description-1">
                                        <div class="description__title">Уроки резьбы по дереву на нашем канале</div>
                                        <div class="description__subtittle">
                                            Подписывайтесь, смотрите уроки, получайте промо-коды и используйте их при
                                            покупке в нашем магазине
                                        </div>
                                        <div class="description__more">Подробнее</div>
                                        <div class="description__btn">Перейти на канал
                                            <div class="description__arrow"></div>
                                        </div>
                                    </div>

                                    <div class="imgs">
                                        <div class="btn-next"></div>
                                    </div>
                                </div>
                                <div class="swiper-slide desc-imgs">
                                    <div class="description-2">
                                        <div class="description__title">Скидки на Чёрную Пятницу</div>
                                        <div class="description__subtittle">
                                            Подписывайтесь, смотрите уроки, получайте промо-коды и используйте их при
                                            покупке
                                            в
                                            нашем
                                            магазине
                                        </div>
                                        <div class="description__more">Подробнее</div>
                                        <div class="description__btn">Перейти на канал
                                            <div class="description__arrow"></div>
                                        </div>
                                    </div>

                                    <div class="imgs">
                                        <div class="btn-next"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination swiper-pagination-main"></div>
                        </div>

                        <div class="swiper additional-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide additional-slide" v-for="(item, i) in arrOffers"
                                    :key="item.img + i">
                                    <img class="offer-img" :src="`assets/images/${item.img}.png`"
                                        alt="`${item.img}`"></img>
                                    <div class="offer-text" v-text="item.text"></div>
                                </div>
                            </div>

                            <div class="add swiper-button-prev"></div>
                            <div class="add swiper-button-next"></div>

                        </div>
                        <!-- additional-slider mobile version -->
                        <div class="additional-slider__mobile">
                            <div class="grid">
                                <div class="additional-slide__mobile" v-for="(item, i) in arrOffers"
                                    :key="item.img + i">
                                    <img class="offer-img" :src="`assets/images/${item.img}.png`"
                                        alt="`${item.img}`"></img>
                                    <div class="offer-text" v-text="item.text"></div>
                                </div>
                            </div>
                            <div class="block-show-grid">
                                <img src="assets/images/wavy-line.svg" alt="------" width="66" height="5">
                                <div class="show-grid-btn" @click="ShowGrid" v-text="isShowGrid ? 'Скрыть' :
                            'Показать ещё'"></div>
                                <img src="assets/images/wavy-line.svg" alt="------" width="66" height="5">
                            </div>
                        </div>

                    </div>

                    <div class="swiper product-of-day ">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide product" v-for="(item, i) in arrProductsOfDay" :key="i">
                                <div class="product-img">
                                    <div class="product-of-day__flex">
                                        <div class="product-of-day__sale abs-percent">{{item.sale}}
                                            <div class="product-of-day__sale abs-label">Товар дня</div>
                                        </div>
                                        <div class="product-of-day__star">
                                            <img src="assets/images/star.svg" alt="оценка" width="20" height="20"
                                                style="margin-right: 7px">
                                            {{item.mark}}
                                        </div>
                                    </div>
                                    <img class="product-of-day__img" :src="`assets/images/${item.img}.png`"
                                        alt="`${item.img}`"></img>
                                </div>
                                <div class="product-desc">
                                    <div class="product-of-day__text">{{item.product}}</div>
                                    <div class="product-of-day__about">{{item.about}}</div>
                                    <div class="product-of-day__price">{{item.price}}</div>
                                    <div class="product-of-day__old-price">{{item.oldPrice}}</div>
                                    <div class="product-of-day__flex">
                                        <div class="product-of-day__luck">
                                            <div class="product-of-day__luck-img">
                                            </div>
                                            Мне повезет
                                        </div>
                                        <div class="product-of-day__like"></div>
                                    </div>
                                    <div class="product-of-day__flex">
                                        <div class="product-of-day__add-btn">
                                            <div class="basket__img"></div>
                                            В корзину
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="product-of-day__slider">{{1}} из {{arrProductsOfDay.length}}</div>
                        <div class="product swiper-button-prev"></div>
                        <div class="product swiper-button-next"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container foot">
                <div class="swiper footer">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide footer-label">
                            <div class="credit__img img-abs"></div>
                            Кредит и рассрочка
                        </div>
                        <div class="swiper-slide footer-label">
                            <div class="sale__img img-abs"></div>
                            Система скидок
                        </div>
                        <div class="swiper-slide footer-label">
                            <div class="tg__img img-abs"></div>
                            Специальные E-MAIL рассылки
                        </div>
                        <div class="swiper-slide footer-label">
                            <div class="gift__img img-abs"></div>
                            Подарок к любому заказу
                        </div>
                        <div class="swiper-slide footer-label">
                            <div class="plane__img img-abs"></div>
                            Быстрая доставка
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- swiper product-of-day mobile version -->
        <div class="swiper product-of-day__mobile">
            <div class="swiper-wrapper">
                <div class="swiper-slide product" v-for="(item, i) in arrProductsOfDay" :key="i">
                    <div class="product-img">
                        <div class="product-of-day__flex">
                            <div class="product-of-day__sale">{{item.sale}}
                                <div class="product-of-day__sale abs-label">Товар дня</div>
                            </div>
                            <div class="product-of-day__star">
                                <img src="assets/images/star.svg" alt="оценка" width="20" height="20"
                                    style="margin-right: 7px">
                                {{item.mark}}
                            </div>
                        </div>
                        <img class="product-of-day__img" :src="`assets/images/${item.img}.png`"
                            alt="`${item.img}`"></img>
                    </div>
                    <div class="product-desc">
                        <div class="product-of-day__text">{{item.product}}</div>
                        <div class="product-of-day__about">{{item.about}}</div>
                        <div class="product-of-day__price">{{item.price}}</div>
                        <div class="product-of-day__old-price">{{item.oldPrice}}</div>
                        <div class="product-of-day__flex">
                            <div class="product-of-day__luck">
                                <div class="product-of-day__luck-img">
                                </div>
                                Мне повезет
                            </div>
                            <div class="product-of-day__like"></div>
                        </div>
                        <div class="product-of-day__flex">
                            <div class="product-of-day__add-btn">
                                <div class="basket__img"></div>
                                В корзину
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- header-fixed mobile version -->
        <div class="bottom-menu">
            <div class="bottom-menu__item">
                <img src="assets/images/bm-catalog.svg" alt=img" width="20" height="20">
                <div class="bottom-menu__label">Каталог</div>
            </div>
            <div class="bottom-menu__item">
                <img src="assets/images/bm-heart.svg" alt=img" width="22" height="20">
                <div class="bottom-menu__label">Избранное</div>
            </div>
            <div class="bottom-menu__item">
                <img src="assets/images/bm-cart.svg" alt=img" width="20" height="20">
                <div class="bottom-menu__label">Корзина</div>
            </div>
            <div class="bottom-menu__item">
                <img src="assets/images/bm-man.svg" alt=img" width="20" height="20">
                <div class="bottom-menu__label">Войти</div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="app.js"></script>

</html>