@font-face {
    font-family: 'RotondaC';
    src: url('RotondaC.eot');
    src: url('RotondaC.eot?#iefix') format('embedded-opentype'),
        url('RotondaC.woff') format('woff'),
        url('RotondaC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Round Pro';
    src: url('CeraPro-Regular.eot');
    src: url('CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-Regular.woff') format('woff'),
        url('CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #FFFFFF;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Container */
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* Absolute image */
.img-abs {
    position: absolute;
    top: 0;
    left: 0;
}

/* Header */
.header {
    width: 100%;
    background: #FFF9E7;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.header__link {
    font-family: 'RotondaC';
    font-size: 12px;
    line-height: 13px;
    color: #441D0B;
    margin-left: 52px;
    transition: all 500ms cubic-bezier(0.2, 0, 0, 0.8);
}

.header__link:hover {
    text-shadow: 1px 1px 2px #7F3614;
}

.header__link:first-child {
    margin-left: 0;
}

.city,
.phone {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 18px;
}

.phone {
    font-weight: 700;
}

.city__img {
    width: 15px;
    height: 18px;
    background: url(../assets/images/city.svg) center / contain no-repeat;
}

.phone__img {
    width: 18px;
    height: 18px;
    background: url(../assets/images/phone.svg) center / contain no-repeat;
}

/* Header-fixed */
.header-fixed-1 {
    width: 100%;
}

.header-fixed-2 {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-fixed__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 93px;
    margin: 31px 0 55px 0;
}

.header__logo {
    width: 111px;
    height: 93px;
    background: url(../assets/images/logo.svg) center no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
}

.catalog {
    position: relative;
    background-color: #441D0B;
    width: 173px;
    height: 61px;
    padding: 24px 44px 23px 70px;
    border-radius: 12px;
    font-family: 'RotondaC';
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.catalog:hover {
    color: rgba(250, 226, 227, 0.7);
    box-shadow: 0 0 40px rgba(245, 242, 242, 0.2) inset;
}

.catalog__img {
    position: absolute;
    top: 23px;
    left: 44px;
    width: 17px;
    height: 17px;
    background: url(../assets/images/catalog.svg) center / contain no-repeat;
    cursor: pointer;
}

.search-block {
    position: relative;
}

.search-input {
    width: 790px;
    height: 61px;
    background: #FFFFFF;
    border: 1px solid #F5CEBB;
    border-radius: 12px;
    padding: 22px 16px;
    font-family: 'RotondaC';
    font-size: 18px;
    line-height: 20px;
    color: #4B1703;
    outline: none;
}

.search-input:focus {
    border: 1px solid #F5CEBB;
}

::-webkit-input-placeholder {
    color: #4B1703;
}

::-moz-placeholder {
    color: #4B1703;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: #4B1703
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: #4B1703;
}

.search-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 52px;
    height: 48px;
    background: #441D0B;
    border-radius: 11px;
    cursor: pointer;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.search-btn:hover {
    color: rgba(250, 226, 227, 0.7);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.2) inset;
}

.search-img {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 16px;
    height: 11px;
    background: url(../assets/images/search.svg) center / contain no-repeat;
    cursor: pointer;
}

.cell {
    position: relative;
    cursor: pointer;
}

.cell-title {
    font-family: 'Cera Round Pro';
    font-size: 12px;
    line-height: 12px;
    color: #BF6D47;
    padding-top: 8px;
    text-align: center;
}

.cell:hover .cell-area {
    background-color: #FFF8E6;
}

.cell-area {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: unset;
    margin: 0 auto;
}

.favourits-img,
.auth-img,
.basket-img {
    height: 22px;
    position: absolute;
    width: 42px;
    top: 10px;
    background: url(../assets/images/heart.svg) center / contain no-repeat;
}

.auth-img {
    background: url(../assets/images/man.svg) center / contain no-repeat;
}

.basket-img {
    background: url(../assets/images/basket.svg) center / contain no-repeat;
}

.count-of-product {
    position: absolute;
    top: -5px;
    right: 0;
    padding: 3px 6px;
    width: 21px;
    height: 21px;
    background: #441D0B;
    border-radius: 8px;
    font-family: 'RotondaC';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

/* Intro */
.intro,
.footer-slider {
    width: 100%;
}

.intro__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    min-width: 0;
}

.main-slider {
    width: 1049px;
}

.desc-imgs {
    display: flex;
    flex-direction: row;
}

.description {
    background-color: #441D0B;
    height: 430px;
    width: 427px;
    border-radius: 25px 0 0 25px;
    padding: 55px 61px 57px 58px;
}

.description__title {
    font-family: 'RotondaC';
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;
    margin-top: 23px;
}

.description__subtittle {
    font-family: 'Cera Round Pro';
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 23px;
}

.description__more {
    font-family: 'Cera Round Pro';
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    margin-top: 14px;
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.2, 0, 0, 0.8);
}

.description__more:hover {
    color: rgba(250, 226, 227, 1.0);
    text-shadow: 1px 1px 2px #7F3614;

}

.description__more::after {
    content: '';
    display: block;
    margin-top: 4px;
    border: 1px solid rgba(255, 255, 255, 0.33);
    width: 85px;
}

.description__btn {
    position: relative;
    margin-top: 69px;
    width: 213px;
    height: 43px;
    padding-top: 16px;
    padding-left: 41px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'RotondaC';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    text-transform: uppercase;
    color: #7F3614;
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.2, 0, 0, 0.8);
}

.description__btn:hover {
    box-shadow: 0 0 60px rgba(250, 226, 227, 1.0) inset;
    text-shadow: 1px 1px 1px #7F3614;
}

.description__arrow {
    position: absolute;
    top: 18px;
    right: 41px;
    width: 5px;
    height: 10px;
    background: url(../assets/images/arrow.svg) center / contain no-repeat;
}

.imgs {
    position: relative;
    width: 622px;
    height: 430px;
    background: url(../assets/images/main.png) right / contain no-repeat;
}

.btn-next {
    position: absolute;
    width: 125px;
    height: 154px;
    background: url(../assets/images/play.svg) center / contain no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.additional-slider {
    margin-top: 26px;
}

.offer-img {
    width: 142px;
    height: 80px;
}

.offer-text {
    margin-top: 13px;
    font-family: 'Cera Round Pro';
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #441D0B;
}

.product-of-day {
    width: 366px;
    height: 561px;
    background: #FFFFFF;
    box-shadow: 0px 7px 75px rgba(111, 41, 41, 0.07), 0px 1.4px 12.1875px rgba(111, 41, 41, 0.035);
    border-radius: 25px;
    padding: 26px 31px 20px;
}

.product-of-day__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-of-day__sale {
    position: relative;
    padding: 8px 20px;
    background: #FAE2E3;
    border-radius: 4px;
    font-family: 'RotondaC';
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #7F3614;
}

.abs-label {
    position: absolute;
    top: 35px;
    left: 0;
    white-space: nowrap;
}

.product-of-day__star {
    display: flex;
    align-items: center;
    font-family: 'RotondaC';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #441D0B;
}

.product-of-day__img {
    display: block;
    margin: 28px auto 45px;
}

.product-of-day__text {
    height: 36px;
    font-family: 'RotondaC';
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #441D0B;
}

.product-of-day__about {
    margin: 14px 0 35px;
    font-family: 'RotondaC';
    font-size: 10px;
    line-height: 11px;
    color: #7F3614;
}

.product-of-day__price {
    display: inline-block;
    vertical-align: middle;
    font-family: 'RotondaC';
    font-weight: 700;
    font-size: 22px;
    line-height: 14px;
    color: #441D0B;
}

.product-of-day__old-price {
    text-decoration: line-through;
    display: inline-block;
    padding-left: 13px;
    font-family: 'RotondaC';
    font-size: 16px;
    line-height: 14px;
    color: #BEBEBE;
}

.product-of-day__luck {
    margin-top: 22px;
    position: relative;
    background-color: #FDF2F3;
    font-family: 'RotondaC';
    font-size: 12px;
    line-height: 14px;
    color: #7F3614;
    padding: 6px 25px 6px 46px;
    border-radius: 4px;
    cursor: pointer;
}

.product-of-day__luck-img {
    position: absolute;
    top: 7px;
    left: 25px;
    width: 11px;
    height: 11px;
    background: url(../assets/images/recycle.svg) center / contain no-repeat;
}

.product-of-day__like {
    cursor: pointer;
    width: 20px;
    height: 18px;
    margin-top: 22px;
    background: url(../assets/images/heart.svg) center / contain no-repeat;
}

.product-of-day__add-btn {
    margin-top: 26px;
    position: relative;
    cursor: pointer;
    background: #441D0B;
    border-radius: 16px;
    font-family: 'RotondaC';
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 15px 44px 15px 76px;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.product-of-day__add-btn:hover {
    color: rgba(250, 226, 227, 0.7);
    box-shadow: 0 0 40px rgba(245, 242, 242, 0.1) inset;
}

.basket__img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 44px;
    width: 20px;
    height: 20px;
    background: url(../assets/images/shopping-cart.svg) center / contain no-repeat;
}

.product-of-day__slider {
    width: 60px;
    margin-top: 26px;
    background: #FDF2F3;
    border-radius: 4px;
    font-family: 'RotondaC';
    font-size: 12px;
    line-height: 14px;
    color: #7F3614;
    padding: 6px 0;
    text-align: center;
}

/* Slider hints */
.fill {
    background: #FFF8E6;
    border-radius: 12px;
    padding: 12px 45px;
    font-family: 'RotondaC';
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    color: #803614;
}

.empty {
    text-align: center;
    padding: 12px 0;
    white-space: nowrap;
    font-family: 'RotondaC';
    font-size: 14px;
    line-height: 14px;
    color: #7F3614;
}

.hint.swiper-button-prev {
    left: -44px;
}

.hint.swiper-button-next {
    right: -44px;
}

.hint.swiper-button-prev::after,
.hint.swiper-button-next::after {
    font-size: 12px;
    color: #B54A22;
}

.hint.swiper-button-prev::after,
.hint.swiper-button-next::after {
    position: fixed;
}

/* Swipers in intro */
.swiper.product-of-day {
    margin: unset;
    padding: 26px 31px 20px;
}

.swiper.additional-slider {
    width: 937px;
}

.product.swiper-button-prev,
.product.swiper-button-next {
    top: 93%;
}

.product.swiper-button-prev {
    left: 250px;
}

.product.swiper-button-next {
    left: 330px;
}

.product.swiper-button-prev::after,
.product.swiper-button-next::after {
    font-size: 10px;
    color: #DCA287;
}

.add.swiper-button-prev {
    left: -43px;
}

.add.swiper-button-next {
    right: -43px;
}


.add.swiper-button-prev::after,
.add.swiper-button-next::after {
    position: fixed;
    text-align: center;
    font-size: 10px;
    padding-top: 11px;
    color: #441D0B;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.11);
}

/* Intro */
.footer {
    width: 100%;
    margin-top: 55px;
    background: #FFF8E6;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    padding: 55px 0 48px 0;
}

.footer-label {
    position: relative;
    font-family: 'RotondaC';
    font-size: 16px;
    line-height: 26px;
    color: #7F3614;
    padding-left: 41px;
}

.credit__img,
.sale__img,
.tg__img,
.gift__img,
.plane__img {
    width: 26px;
    height: 26px;
}

.credit__img {
    background: url(../assets/images/credit.svg) center / contain no-repeat;
}

.sale__img {
    background: url(../assets/images/sale.svg) center / contain no-repeat;
}

.tg__img {
    background: url(../assets/images/tg.svg) center / contain no-repeat;
}

.gift__img {
    background: url(../assets/images/gift.svg) center / contain no-repeat;
}

.plane__img {
    background: url(../assets/images/plane.svg) center / contain no-repeat;
}