@font-face {
    font-family: 'RotondaC';
    src: url('RotondaC.eot');
    src: url('RotondaC.eot?#iefix') format('embedded-opentype'),
        url('RotondaC.woff') format('woff'),
        url('RotondaC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Round Pro';
    src: url('CeraPro-Regular.eot');
    src: url('CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('CeraPro-Regular.woff') format('woff'),
        url('CeraPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #FFFFFF;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Container */
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* Absolute image */
.img-abs {
    position: absolute;
    top: 0;
    left: 0;
}

/* Header */
.header {
    width: 100%;
    background: #FFF9E7;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.header__inner__mobile,
.header-pre-fixed__inner__mobile,
.header-fixed__inner__mobile,
.bottom-menu {
    display: none;
}

.header__link {
    font-family: 'RotondaC';
    font-size: 12px;
    line-height: 13px;
    color: #441D0B;
    margin-left: 52px;
    transition: all 500ms cubic-bezier(0.2, 0, 0, 0.8);
}

.header__link:hover {
    text-shadow: 1px 1px 2px #7F3614;
}

.header__link:first-child {
    margin-left: 0;
}

.city,
.phone {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 18px;
}

.phone {
    font-weight: 700;
}

.city__img {
    width: 15px;
    height: 18px;
    background: url(../assets/images/city.svg) center / contain no-repeat;
}

.phone__img {
    width: 18px;
    height: 18px;
    background: url(../assets/images/phone.svg) center / contain no-repeat;
}

/* Header-fixed */
.header-fixed-1 {
    width: 100%;
}

.header-fixed__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 93px;
    margin: 31px 0 55px 0;
}

.header__logo {
    width: 111px;
    height: 93px;
    background: url(../assets/images/logo.svg) center no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
}

.catalog,
.fixed-catalog {
    position: relative;
    background-color: #441D0B;
    width: 173px;
    height: 61px;
    padding: 24px 44px 23px 70px;
    border-radius: 12px;
    font-family: 'RotondaC';
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.catalog:hover {
    color: rgba(250, 226, 227, 0.7);
    box-shadow: 0 0 40px rgba(245, 242, 242, 0.2) inset;
}

.catalog__img,
.fixed-catalog__img {
    position: absolute;
    top: 23px;
    left: 44px;
    width: 17px;
    height: 17px;
    background: url(../assets/images/catalog.svg) center / contain no-repeat;
    cursor: pointer;
}

.search-block {
    position: relative;
    display: flex;
    width: 100%;
    flex-grow: 1;
    max-width: 790px;
}

.search-input {
    width: 100%;
    height: 61px;
    background: #FFFFFF;
    border: 1px solid #F5CEBB;
    border-radius: 12px;
    padding: 22px 16px;
    font-family: 'RotondaC';
    font-size: 18px;
    line-height: 20px;
    color: #4B1703;
    outline: none;
}

.search-input:focus {
    border: 1px solid #F5CEBB;
}

::-webkit-input-placeholder {
    color: #4B1703;
}

::-moz-placeholder {
    color: #4B1703;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: #4B1703
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: #4B1703;
}

.search-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 52px;
    height: 48px;
    background: #441D0B;
    border-radius: 11px;
    cursor: pointer;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.search-btn:hover {
    color: rgba(250, 226, 227, 0.7);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.2) inset;
}

.search-img {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 16px;
    height: 11px;
    background: url(../assets/images/search.svg) center / contain no-repeat;
    cursor: pointer;
}

.cell {
    position: relative;
    cursor: pointer;
}

.cell-title {
    font-family: 'Cera Round Pro';
    font-size: 12px;
    line-height: 12px;
    color: #BF6D47;
    padding-top: 8px;
    text-align: center;
}

.cell:hover .cell-area {
    background-color: #FFF8E6;
}

.cell-area {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: unset;
    margin: 0 auto;
}

.favourits-img,
.auth-img,
.basket-img {
    height: 22px;
    position: absolute;
    width: 42px;
    top: 10px;
    background: url(../assets/images/heart.svg) center / contain no-repeat;
}

.auth-img {
    background: url(../assets/images/man.svg) center / contain no-repeat;
}

.basket-img {
    background: url(../assets/images/basket.svg) center / contain no-repeat;
}

.count-of-product {
    position: absolute;
    top: -5px;
    right: 0;
    padding: 3px 6px;
    width: 21px;
    height: 21px;
    background: #441D0B;
    border-radius: 8px;
    font-family: 'RotondaC';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

/* Intro */
.intro,
.header-slider {
    width: 100%;
}

.header-slider__inner {
    position: relative;
}

.intro__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    min-width: 0;
}

.main-slider {
    position: relative;
    width: 1049px;
}

.desc-imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.description-1,
.description-2 {
    background-color: #7F3614;
    height: 430px;
    width: 427px;
    border-radius: 25px 0 0 25px;
    padding: 55px 61px 40px 55px;
}

.description-2 {
    background-color: #441D0B;
    height: 430px;
    width: 427px;
    border-radius: 25px 0 0 25px;
    padding: 55px 61px 40px 55px;
}

.description__title {
    font-family: 'RotondaC';
    font-weight: 700;
    font-size: 30px;
    line-height: 33px;
    color: #FFFFFF;
    margin-top: 23px;
}

.description__subtittle {
    font-family: 'Cera Round Pro';
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 23px;
}

.description__more {
    font-family: 'Cera Round Pro';
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    margin-top: 14px;
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.2, 0, 0, 0.8);
}

.description__more:hover {
    color: rgba(250, 226, 227, 1.0);
    text-shadow: 1px 1px 2px #7F3614;

}

.description__more::after {
    content: '';
    display: block;
    margin-top: 4px;
    border: 1px solid rgba(255, 255, 255, 0.33);
    width: 85px;
}

.description__btn {
    position: relative;
    margin-top: 69px;
    width: 213px;
    height: 43px;
    padding-top: 16px;
    padding-left: 41px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'RotondaC';
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    text-transform: uppercase;
    color: #7F3614;
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.2, 0, 0, 0.8);
}

.description__btn:hover {
    box-shadow: 0 0 60px rgba(250, 226, 227, 1.0) inset;
    text-shadow: 1px 1px 1px #7F3614;
}

.description__arrow {
    position: absolute;
    top: 18px;
    right: 41px;
    width: 5px;
    height: 10px;
    background: url(../assets/images/arrow.svg) center / contain no-repeat;
}

.imgs {
    position: relative;
    width: 622px;
    height: 430px;
    background: url(../assets/images/main.png) right / contain no-repeat;
}

.btn-next {
    position: absolute;
    width: 125px;
    height: 154px;
    background: url(../assets/images/play.svg) center / contain no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.additional-slider {
    margin-top: 26px;
    position: static;
}

.additional-slider__mobile {
    display: none;
}

.additional-slide {
    max-width: 142px;
}

.offer-img {
    width: 142px;
    height: 80px;
}

.offer-text {
    margin-top: 10px;
    font-family: 'Cera Round Pro';
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #441D0B;
}

.product-of-day {
    width: 366px;
    height: 561px;
    background: #FFFFFF;
    box-shadow: 0px 7px 75px rgba(111, 41, 41, 0.07), 0px 1.4px 12.1875px rgba(111, 41, 41, 0.035);
    border-radius: 25px;
}

.product-of-day__mobile {
    display: none;
}

.product-of-day__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-of-day__sale {
    position: relative;
    padding: 8px 20px;
    background: #FAE2E3;
    border-radius: 4px;
    font-family: 'RotondaC';
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #7F3614;
}

.abs-label {
    position: absolute;
    top: 35px;
    left: 0;
    white-space: nowrap;
}

.product-of-day__star {
    display: flex;
    align-items: center;
    font-family: 'RotondaC';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #441D0B;
}

.product-of-day__img {
    display: block;
    margin: 28px auto 45px;
}

.product-of-day__text {
    height: 36px;
    font-family: 'RotondaC';
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #441D0B;
}

.product-of-day__about {
    margin: 14px 0 35px;
    font-family: 'RotondaC';
    font-size: 10px;
    line-height: 11px;
    color: #7F3614;
}

.product-of-day__price {
    display: inline-block;
    vertical-align: middle;
    font-family: 'RotondaC';
    font-weight: 700;
    font-size: 22px;
    line-height: 14px;
    color: #441D0B;
}

.product-of-day__old-price {
    text-decoration: line-through;
    display: inline-block;
    padding-left: 13px;
    font-family: 'RotondaC';
    font-size: 16px;
    line-height: 14px;
    color: #BEBEBE;
}

.product-of-day__luck {
    margin-top: 22px;
    position: relative;
    background-color: #FDF2F3;
    font-family: 'RotondaC';
    font-size: 12px;
    line-height: 14px;
    color: #7F3614;
    padding: 6px 25px 6px 46px;
    border-radius: 4px;
    cursor: pointer;
}

.product-of-day__luck-img {
    position: absolute;
    top: 7px;
    left: 25px;
    width: 11px;
    height: 11px;
    background: url(../assets/images/recycle.svg) center / contain no-repeat;
}

.product-of-day__like {
    cursor: pointer;
    width: 20px;
    height: 18px;
    margin-top: 22px;
    background: url(../assets/images/heart.svg) center / contain no-repeat;
}

.product-of-day__add-btn {
    margin-top: 26px;
    position: relative;
    cursor: pointer;
    background: #441D0B;
    border-radius: 16px;
    font-family: 'RotondaC';
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 15px 44px 15px 76px;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.product-of-day__add-btn:hover {
    color: rgba(250, 226, 227, 0.7);
    box-shadow: 0 0 40px rgba(245, 242, 242, 0.1) inset;
}

.basket__img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 44px;
    width: 20px;
    height: 20px;
    background: url(../assets/images/shopping-cart.svg) center / contain no-repeat;
}

.product-of-day__slider {
    position: absolute;
    left: 275px;
    top: 86%;
    z-index: 100;
    width: 60px;
    height: 25px;
    margin-top: 26px;
    background: #FDF2F3;
    border-radius: 4px;
    font-family: 'RotondaC';
    font-size: 12px;
    line-height: 14px;
    color: #7F3614;
    padding: 6px 0;
    text-align: center;
}

/* Slider hints */
.slider-hint {
    position: static;
}

.fill {
    max-width: fit-content;
    text-align: center;
    background: #FFF8E6;
    border-radius: 12px;
    padding: 12px 45px;
    font-family: 'RotondaC';
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    color: #803614;
}

.fill:nth-child(3) {
    margin-right: 63px !important;
}

.empty {
    max-width: fit-content;
    text-align: center;
    padding: 12px 0;
    white-space: nowrap;
    font-family: 'RotondaC';
    font-size: 14px;
    line-height: 14px;
    color: #7F3614;
}

.hint.swiper-button-prev {
    left: -40px;
}

.hint.swiper-button-next {
    right: -40px;
}

.hint.swiper-button-prev::after,
.hint.swiper-button-next::after {
    font-size: 12px;
    color: #B54A22;
}

/* Swipers in intro */
.swiper.product-of-day {
    margin: unset;
    padding: 26px 31px 20px;
}

.swiper.additional-slider {
    width: calc(100% - 112px);
}

.product.swiper-button-prev,
.product.swiper-button-next {
    top: 93%;
}

.product.swiper-button-prev {
    left: 250px;
}

.product.swiper-button-next {
    left: 330px;
}

.product.swiper-button-prev::after,
.product.swiper-button-next::after {
    font-size: 10px;
    color: #DCA287;
}

.swiper-pagination-bullets {
    display: none;
}

.add.swiper-button-prev,
.add.swiper-button-next {
    bottom: 50px;
    top: unset;
    width: unset;
    height: unset;
}

.add.swiper-button-prev {
    left: 0;
}

.add.swiper-button-next {
    right: 0;
}


.add.swiper-button-prev::after,
.add.swiper-button-next::after {
    text-align: center;
    font-size: 10px;
    padding-top: 11px;
    color: #441D0B;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.11);
}

/* Footer */
.footer {
    width: 100%;
    margin: 55px 0;
    background: #FFF8E6;
    border-radius: 15px;
    padding: 0 34px;
}

.footer-label {
    white-space: nowrap;
    max-width: fit-content;
    position: relative;
    font-family: 'RotondaC';
    font-size: 16px;
    color: #7F3614;
    padding: 46px 0 45px 41px;
}

.credit__img,
.sale__img,
.tg__img,
.gift__img,
.plane__img {
    width: 26px;
    height: 116px;
}

.credit__img {
    background: url(../assets/images/credit.svg) center / contain no-repeat;
}

.sale__img {
    background: url(../assets/images/sale.svg) center / contain no-repeat;
}

.tg__img {
    background: url(../assets/images/tg.svg) center / contain no-repeat;
}

.gift__img {
    background: url(../assets/images/gift.svg) center / contain no-repeat;
}

.plane__img {
    background: url(../assets/images/plane.svg) center / contain no-repeat;
}


@media screen and (max-device-width: 1550px) {
    .container {
        width: calc(100% - 250px);
    }

    .header__inner {
        height: 52px;
    }

    .header-fixed__inner {
        margin: 24px 0 34px 0;
    }

    .header__logo {
        min-width: 75px;
        height: 62px;
        margin-right: 30px;
    }

    .catalog {
        margin-right: 30px;
    }

    .cell {
        margin-left: 30px;
    }

    .header-slider__inner {
        width: calc(100% - 300px);
    }

    .intro__inner {
        flex-direction: column;
    }

    .main-slider {
        width: 100%;
    }

    .desc-imgs {
        width: 753px;
    }

    .imgs {
        width: 446px;
        height: 309px;
    }

    .description-1,
    .description-2 {
        width: 307px;
        height: 309px;
        padding: 49px 44px 0 39px;
    }

    .description__title {
        margin-top: 0;
        font-size: 26px;
        line-height: 30px;
    }

    .description__subtittle {
        display: none;
    }

    .description__more {
        margin-top: 8px;
        font-size: 11px;
        line-height: 11px;
    }

    .description__btn {
        margin-top: 55px;
    }

    .swiper.additional-slider {
        width: 100%;
    }

    .add.swiper-button-prev {
        left: -17px;
    }

    .add.swiper-button-next {
        right: -17px;
    }

    .product {
        display: flex;
        flex-direction: row;
        padding: 27px 19px 31px 30px;
        max-width: 475px;
        height: 241px;
        box-shadow: 0px 7px 10px rgba(111, 41, 41, 0.07);
        border-radius: 25px;
    }

    .product-of-day {
        height: 285px;
        box-shadow: unset;
        width: 100%;
        border-radius: unset;
    }

    .swiper.product-of-day {
        padding: 0;
        margin-top: 70px;
    }

    .product-img {
        margin: 0 26px 0 0;
        width: 193px;
        height: 183px;
    }

    .product-of-day__img {
        margin: 0 auto;
    }

    .product-of-day__star,
    .product-of-day__like,
    .product-of-day__luck,
    .product.swiper-button-prev,
    .product.swiper-button-next,
    .product-of-day__slider {
        display: none;
    }

    .abs-label {
        top: -37px;
        left: 0;
    }

    .abs-percent {
        position: absolute;
        top: 64px;
        left: 0;
    }

    .product-desc {
        height: 183px;
        width: 206px;
    }

    .product-of-day__text {
        font-size: 15px;
        line-height: 19px;
        height: unset;
    }

    .product-of-day__about {
        font-size: 12px;
        line-height: 13px;
        margin: 10px 0 18px;
    }

    .product-of-day__price {
        font-size: 17px;
    }

    .product-of-day__old-price {
        font-size: 13px;
    }

    .product-of-day__add-btn {
        position: absolute;
        bottom: 31px;
        margin-top: 0;
        font-size: 13px;
        border-radius: 12px;
        padding: 13px 54px 13px 82px;
    }

    .basket__img {
        width: 16px;
        height: 16px;
    }

    .swiper-pagination-bullets {
        display: block;
        bottom: 0 !important;
    }

    .swiper-pagination-bullet {
        background: #BA8487;
        border-radius: 0;
        width: 30px;
        height: 1px;
        opacity: unset;
        margin: 8px !important;
        position: relative;
    }

    .swiper-pagination-bullet:before {
        content: '';
        position: absolute;
        display: block;
        top: -15px;
        left: -8px;
        right: -8px;
        bottom: -15px;
    }

    .swiper-pagination-bullet-active {
        background: #7F3614;
        border-radius: 3px;
        height: 3px;
    }
}

@media screen and (max-device-width: 1024px) {
    .container {
        width: calc(100% - 24px);
    }

    .header__inner__mobile {
        display: flex;
        justify-content: space-between;
        height: 54px;
        padding: 10px 0 7px;
    }

    .header__inner,
    .header-fixed__inner {
        display: none;
    }

    .header__logo {
        width: 79px;
        height: 37px;
        background: url(../assets/images/logo-m.svg) center no-repeat;
    }

    .header__icon {
        position: relative;
        width: 100px;
    }

    .phone__img,
    .basket-img,
    .count-of-product {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .phone__img {
        width: 17px;
        height: 17px;
    }

    .basket-img {
        width: 20px;
        height: 20px;
        left: 38px;
    }

    .count-of-product {
        width: 19px;
        height: 19px;
    }

    .header-pre-fixed__inner__mobile,
    .header-fixed__inner__mobile {
        justify-content: space-between;
        background-color: #FFFFFF;
        align-items: center;
    }

    .header-pre-fixed__inner__mobile {
        padding: 14px 0 19px;
        display: flex;
    }

    .header-fixed__inner__mobile {
        display: flex;
        padding: 13px 11px;
        z-index: 1000;
        width: 100%;
        position: fixed;
        top: -127px;
        left: 0;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 12px 12px;
        transition: all .3s ease;
    }

    .bottom-menu {
        height: 64px;
        display: flex;
        bottom: -64px;
        right: 0;
        position: fixed;
        width: 100%;
        z-index: 1000;
        transition: all .3s ease;
        align-items: center;
        justify-content: space-evenly;
        background: #FFFFFF;
        box-shadow: 0px -7px 13px rgba(0, 0, 0, 0.07);
        border-radius: 12px 12px 0px 0px;
    }

    .bottom-menu__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bottom-menu__label {
        margin-top: 7px;
        font-family: 'RotondaC';
        font-size: 12px;
        line-height: 13px;
        text-align: center;
        color: #A1664A;
        opacity: 0.5;
    }

    .search-input {
        height: 40px;
        padding: 13px 18px 9px;
        font-size: 16px;
        line-height: 18px;
    }

    .search-block {
        max-width: unset;
    }

    .search-btn {
        width: 37px;
        height: 34px;
        top: 3px;
        right: 4px;
    }

    .search-img {
        top: 15px;
        right: 15px;
    }

    .catalog {
        margin-right: 0;
        margin-left: 12px;
        width: 121px;
        height: 40px;
        padding: 13px 25px 11px 48px;
        font-size: 13px;
        line-height: 15px;
    }

    .catalog__img,
    .fixed-catalog__img {
        top: 13px;
        left: 26px;
        width: 14px;
        height: 14px;
    }

    .fixed-catalog__img {
        left: 16px;
    }

    .fixed-catalog {
        margin-right: 0;
        margin-left: 7px;
        width: 51px;
        height: 40px;
        padding: 0;
    }

    .hint.swiper-button-prev,
    .hint.swiper-button-next {
        display: none;
    }

    .intro__inner {
        margin-top: 23px;
    }

    .desc-imgs {
        width: 337px;
    }

    .description-1,
    .description-2 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 100;
        width: 337px;
        height: 263px;
        border-radius: 15px;
        padding: 32px 147px 0 32px;
    }

    .description-1 {
        background: linear-gradient(0deg, rgba(127, 54, 20, 0.62), rgba(127, 54, 20, 0.62));
    }

    .description-2 {
        background: linear-gradient(0deg, rgba(68, 29, 11, 0.62), rgba(68, 29, 11, 0.62));
    }

    .description__more {
        font-size: 15px;
        line-height: 15px;
        margin-top: 13px;
    }

    .description__title {
        font-size: 22px;
        line-height: 26px;
    }

    .description__btn {
        margin-top: 25px;
        width: 154px;
        height: 36px;
        border-radius: 15px;
        padding: 12px 25px;
        font-size: 10px;
        line-height: 14px;
    }

    .imgs {
        width: 337px;
        height: 263px;
        border-radius: 15px;
        background-size: cover;
    }

    .btn-next {
        display: none;
    }

    .swiper-pagination-main {
        bottom: 18px !important;
        right: calc(50% - 80px) !important;
        left: unset !important;
    }

    .swiper-wrapper.feature-for-main {
        justify-content: space-evenly;
    }

    .swiper-pagination-bullet-active {
        background: #FDF2F3;
    }

    .offer-text {
        margin-top: 5px;
    }

    .additional-slider {
        display: none;
    }

    .additional-slider__mobile {
        display: block;
    }

    .grid {
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-auto-rows: 0;
        overflow-y: hidden;
    }

    .additional-slide__mobile {
        text-align: center;
        margin-bottom: 16px;
    }

    .block-show-grid {
        margin-top: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .show-grid-btn {
        text-align: center;
        padding: 6px 29px;
        width: 140px;
        height: 26px;
        background: #FFF8E5;
        border-radius: 6px;
        font-family: 'RotondaC';
        font-size: 13px;
        color: #AF6F72;
    }

    .footer {
        margin: 37px 0 0;
        padding: 0;
        border-radius: 0;
    }

    .footer-label {
        font-size: 12px;
        padding: 24px 0 23px 20px;
    }

    .credit__img,
    .sale__img,
    .tg__img,
    .gift__img,
    .plane__img {
        width: 11px;
        height: 62px;
    }

    .container.foot {
        width: 100%;
    }

    .product-of-day {
        display: none;
    }

    .product-of-day__mobile {
        display: block;
        padding: 53px 0 90px;
    }

    .product {
        flex-direction: column;
        padding: 28px 20px 18px;
        max-width: 280px;
        height: 561px;
        box-shadow: 0px 7px 75px rgba(111, 41, 41, 0.07), 0px 1.4px 12.1875px rgba(111, 41, 41, 0.035);
    }

    .product-img {
        margin: 0;
        width: 240px;
        height: 286px;
    }

    .product-of-day__img {
        margin: 35px auto 0;
    }

    .product-of-day__star,
    .product-of-day__like,
    .product-of-day__luck {
        display: flex;
    }

    .abs-label {
        top: 37px;
    }

    .product-desc {
        height: 185px;
        width: 240px;
    }

    .product-of-day__text {
        font-size: 12px;
        line-height: 18px;
    }

    .product-of-day__about {
        font-size: 10px;
        line-height: 11px;
        margin: 14px 0 35px;
    }

    .product-of-day__price {
        font-size: 22px;
    }

    .product-of-day__old-price {
        font-size: 16px;
    }

    .product-of-day__add-btn {
        position: absolute;
        bottom: 31px;
        margin-top: 0;
        font-size: 16px;
        border-radius: 16px;
        padding: 14px 44px 12px 76px;
    }

    .basket__img {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-device-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .swiper-wrapper.feature-for-main {
        justify-content: unset;
    }
}

@media screen and (max-device-width: 576px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}